<html>
<head>
  <title>AU Mobile Development Group</title>

  {{ template "imports" }}

</head>
<body>
  {{ template "nav" }}

  <div class="container">
    <div class="col-sm-4">
      <h1>AU Mobile Dev Group</h1>
      <p>
        Join us at an upcoming event, or check out what we're doing.
      </p>
      <i class="fa fa-2x fa-android"></i>
      <i class="fa fa-2x fa-apple"></i>
      <i class="fa fa-2x fa-windows"></i>
    </div>
    <div class="col-sm-8">
      <h1>Upcoming Events</h1>
    {{ range $index, $val := . }}
      <div class="item">
        <a href="/events/{{ $val.Id.Hex }}"><h2 class="name">{{.Name}}</h2></a>
        <p>{{.Description}}</p>
      </div>
    {{ end }}
    </div>
  </div>
</body>
</html>
